@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  width: 40px;
  height: 40px;
  border-top: 3px solid #555;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
