@import "./constants";

@mixin center-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin clamp($clamp, $orient) {
  display: -webkit-box;
  display: -moz-box;
  -webkit-line-clamp: $clamp;
  -moz-line-clamp: $clamp;
  -webkit-box-orient: $orient;
  -moz-box-orient: $orient;
  overflow: hidden;
}

@mixin media($size) {
  // Phones
  @if $size==sm {
    @media (max-width: $screen-md) {
      @content;
    }
  }

  // Portrait-Tablets/Large-Phones
  @if $size==md {
    @media (min-width: $screen-md) {
      @content;
    }
  }

  // Landscape-Tablets
  @if $size==lg {
    @media (min-width: $screen-lg) {
      @content;
    }
  }

  // Desktops
  @if $size==xl {
    @media (min-width: $screen-xl) {
      @content;
    }
  }

  // Large-Desktops
  @if $size==xxl {
    @media (min-width: $screen-xxl) {
      @content;
    }
  }
}
