@import "styles//constants";
@import "styles/mixins";

.container {
  @include center-align;
  position: sticky;
  padding: $space-lg;
  background-color: black;
  color: white;
  box-shadow: 0 0 5px 0 black;
}
