@import "styles/constants";
@import "styles/mixins";

.container {
  @include center-align;
  justify-content: space-between;
  position: sticky;
  padding: $space-lg;
  background-color: black;
  color: white;
  box-shadow: $shadow-header;

  font-size: $font-lg;
}
