@import "styles/mixins";
@import "styles/constants";

.section {
  width: 100%;
}

.section-title {
  margin: $space-lg;
  font-size: $font-lg;
  text-align: center;
}

.list-wrapper {
  display: flex;
  justify-content: center;
}

.list {
  position: relative;
  margin: $space-lg 0;
  display: flex;
  overflow-x: auto;
}

.list-item {
  margin: $space-md $space-lg;
  margin-bottom: $space-xxl;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  border-radius: $radii-lg;
  box-shadow: $shadow-box;
  overflow: hidden;
  cursor: pointer;

  @include media(sm) {
    width: 150px;
  }
  @include media(md) {
    width: 22vw;
  }
  @include media(lg) {
    width: 20vw;
  }
  @include media(xl) {
    width: 18vw;
  }
  @include media(xxl) {
    width: 200px;
  }
}

.list-item-img {
  width: 100%;

  img {
    width: 100%;
    aspect-ratio: $aspect-ratio-poster-image;
  }
}

.list-item-info {
  text-align: center;
  padding: $space-md;
  padding-top: 0;

  h5 {
    @include clamp(2, vertical);
  }

  h6 {
    color: $grey;
  }
}
